<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Belly Button Biodiversity</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="jumbotron text-center">
            <h1>Belly Button Biodiversity Dashboard</h1>
            <p>Use the interactive charts below to explore the data</p> 
        </div>
    </div>  

    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <div id="dropdownDiv">
                    <p><strong>SELECT BB Sample</strong></p>
                    <select id="selDataset" onchange="optionChanged(this.value)"></select>
                    <br>
                </div>
                
                <br>
    
                <div id="metaContainer">
                    <h4>BB Sample MetaData</h4>
                    <ul id="metadata" class="list"></ul>
                </div>
            </div>

            <div class="col-md-5">
                    <h4>Pie Chart</h4>
                    <div id="pie"></div>
            </div>

            <div class="col-md-5">
                <h4>Belly Button Washing Frequency</h4><br>
                <h5>Scrubs per Week</h5>
                <div id="gauge"></div>
            </div>

        </div>
    
        <div class="row">
            <div class="col-md-12">
                <h4>Bubble Chart</h4>
                <div id="bubble"></div>
            </div>
        </div>
        
        <script src="{{ url_for('static', filename='js/plotly.js') }}"></script>
    </div>
</body>
</html>
